<html>

<head>
    <title>PM25 Diagram</title>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="300">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.js"> </script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js"></script>
    <script src="/static/js/leaflet-idw.js"> </script>
    <script src="/static/js/emission.js"> </script>
    
    <script>
        function draw_line_chart(element_id, data, title) {
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            var length_of_data = data.length;
            function drawChart() {
                var data_table = new google.visualization.DataTable();
                data_table.addColumn('string', 'Year');
                data_table.addColumn('number', title);
                for (const [key, value] of Object.entries(data)) {
                    data_table.addRow([key, value])
                }

                var options = {
                    title: title,
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };
                var chart = new google.visualization.LineChart(document.getElementById(element_id));
                chart.draw(data_table, options);
            }
        }

    </script>
    <script type="text/javascript">
        $(function () {
            $('#citys').bind('change', function () {
                city_name = $("#citys option:selected").text();
                city_id = $("#citys option:selected").val();
                console.log('select change!')
                $.getJSON('/city_pneumonia', {
                    city: city_name,
                    id: city_id
                }, function (data) {
                    draw_line_chart('Health_Insurance_Visits', data['健保就診總人次'], '健保就診總人次');
                    draw_line_chart('Other_pneumonia_health_insurance_visits', data['其他肺炎健保就診人次'], '其他肺炎健保就診人次');
                });
                return false;
            });
        });
    </script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html,
        body,
        #map {
            height: 100%;
            width: 100%;
        }

        #p_time {
            position: absolute;
            background-color: #FFF;
            opacity: 1;
            border-radius: 2px;
            padding: 5px 5px 5px 5px;
            right: 5px;
            top: 5px;
        }

        #about {
            position: absolute;
            background-color: #FFF;
            opacity: 0.8;
            border-radius: 1px;
            padding: 1px 1px 1px 1px;
            left: 4px;
            bottom: 4px;
        }
    </style>
</head>

<body>
    <div>
        <div id="map"></div>
    </div>
    <div>
        <select id=citys>
            {% for city in citys %}
            <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <div id="Health_Insurance_Visits" style="width: 900px; height: 500px"></div>
        <div id="Other_pneumonia_health_insurance_visits" style="width: 900px; height: 500px"></div>
    </div>
</body>
<script>
    var PM25points = JSON.parse('{{ PM25 }}')

    L.mapbox.accessToken = 'pk.eyJ1IjoibXltYWt0dWIiLCJhIjoiY2oyNXBwdXVxMDB0YTMybzdkdzl5cjRodSJ9.803z0kHzvQVFMstwjfjCqg';
    //L.mapbox.accessToken = $token;
    map = L.mapbox.map('map', 'zetter.i73ka9hn', { attributionControl: false })
        .setView([23.77, 120.88], 8);

    map.options.maxZoom = 16


    var idw = L.idwLayer(PM25points, {
        opacity: 0.5,
        maxZoom: 16,
        minZoom: 8,
        cellSize: 5,
        exp: 2,
        // max: 1000
        max: 200
    }).addTo(map);

    var numEmission = EmissionPoints.length;
    for (var i = 0; i < numEmission; i++) {
        var gps_lat = EmissionPoints[i][0];
        var gps_lon = EmissionPoints[i][1];
        var description = EmissionPoints[i][2];

        var polygon = L.polygon([
            [gps_lat + 0.015, gps_lon],
            [gps_lat, gps_lon + 0.015],
            [gps_lat - 0.015, gps_lon],
            [gps_lat, gps_lon - 0.015]
        ], {
                color: '#0000ff',
                fillOpacity: 0.5,
                fillColor: '#00ccff',
            }).addTo(map)
            .bindPopup(description);
    }

</script>
<script src="/static/js/idw-legend.js"></script>
</html>