{% extends 'base.html' %} 
{% block title %}index{% endblock %}

{%block head %}
<!-- google font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<!-- vue js -->
<script src="https://unpkg.com/vue" charset="utf-8"></script>
<script charset="utf-8">
    Vue.config.devtools = false;
    Vue.config.productionTip = false;
</script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js" charset="utf-8"></script>
<!-- weatherjs -->
<link href="/static/css/weather.css" rel="stylesheet"> 
{% endblock %}

{% block content %}
    <h1>一週天氣</h1>
    <div id="city_for_weather">
        <label>選擇城市</label>
        <select v-model="weather_city">
            {% for city in weather_citys %}
            <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="app">
        <div class="card-columns">
        <weather-app 
        v-if="validResponse"
        v-for="post in posts" 
        :city=post.city 
        :location=post.location 
        :hours=post.hours 
        :mins=post.mins 
        :day=post.day 
        :temp=post.temp 
        :tempc_max=post.max_temp_c
        :tempc_min=post.min_temp_c 
        :tempf_max=post.max_temp_f 
        :tempf_min=post.min_temp_f 
        :cloudtxt=post.conditionText 
        :cloudicon=post.conditionIcon>
        </weather-app>
        </div>
    </div>

    <div id='address_translator'>
        <h2>Address to Latitude and longitude</h2>
        <input v-model="address" placeholder="input address">
        <button @click="getAnswer" class="btn btn-primary">Convert</button>
        <p>Address is: ${ address }</p>
        <p>Formatted address: ${ formatted_address }</p>
        <p>lat: ${ lat }</p>
        <p>lng: ${ lng }</p>
    </div>


<!-- weatherjs -->
<script src="/static/js/weather.js"></script>
<!-- address translator -->
<script>
    var Address_Translator = new Vue({
        delimiters: ['${', '}'],
        el: '#address_translator',
        data: {
            address: '',
            formatted_address: '',
            lat: '',
            lng: ''
        },
        methods: {
            getAnswer: function () {
                let self = this;
                axios.get('/get_lat_lng', {
                    params: {
                        address: self.address
                    }
                })
                    .then(function (response) {
                        self.formatted_address = response.data.address;
                        self.lat = response.data.lat;
                        self.lng = response.data.lng;
                    })
                    .catch(function (error) {
                        console.log('Error! Could not reach the API. ' + error);
                    })
            }
        }
    })
</script>
{% endblock %}